.login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right,#102E50, #547792,#94B4C1);
 
}

.login_container_box {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 0.75rem;
    width: 70%;
    height: 60%;
    border-radius: 0.625rem;
}

.login_image_box {
    width: 50%;
    height: 100%;
    position: relative;
    border-radius: 0.625rem;
}
.login_image_box img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 0.625rem;
    border-bottom-left-radius: 0.625rem;
   


}
.form_container {
    width: 50%;
    border-radius: 0.625rem;
}
.formcontainer_box {
    display: flex;
    flex-direction: column;
    padding: 1.875rem;
}

.login_heading {
    text-align: left;
    font-family: sans-serif;
    padding-bottom: 0.938rem;
}
.loginform_input{
    height: 4.2rem;
    position: relative;
    padding-top: 1rem;;
}
.form_input {
    width: 100%;
    border-bottom: 0.0625rem solid gray;
    font-size: 0.75rem;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 0.75rem 0rem;
}
.paraerr {
    color: red;
    font-size: 0.75rem;
    padding-top: 0.625rem;
    text-align: left;
}


.passicon{
    position: absolute;
    top: 0.75rem;
    right: 20;
    left: 95%;
  }
.secondary_btn {
    width: 100%;
    cursor: pointer;
    background-color: #27548A;
    border-radius: 4px;
    border: none;
    color: white;
    height: 2.5rem;
    box-shadow: 0px 0px 0.625rem rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    margin-top: 1.875rem;

}

.secondary_btn:hover {
    background-color: #102E50;
}
.login_box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1.875rem;
    font-size: 0.875rem;
    gap: 0.625rem;
}

.login_icon {
    display: flex;
    gap: 0.938rem;
    color: #27548A;
    cursor: pointer;
    font-size: 2rem;

}
.signup_link a{
    color: #27548A;
    cursor: pointer;
}

@media(max-width:600px){
   
    .login_container_box {
     display: flex;
     flex-direction: column;
    }
    .form_container{
        width: 100%;
    }
    .formcontainer_box {
        width: 100%;
        padding: 1.875rem;
        margin: 0; 
        box-sizing: border-box; 
    }
    
    .login_image_box {
      display:none;
        
    }
    .login_heading {
      text-align: center;
    }
    
    .form_input {
        width: 100%;
        
    }
    .loginform_input{
       padding-top: 1rem;;
    }
    .secondarybtn_container{
        padding: 1rem 0;
    }
    
    .login_icon {
        font-size: 2rem;
    }
    .signup_link a{
      font-size: 0.8rem;
    }
}
@media(min-width:601px)and (max-width:1024px){
    .login_container_box {
        display: flex;
        flex-direction: column;
       }
       .form_container{
           width: 100%;
       }
       .formcontainer_box {
           width: 100%;
           padding: 1.875rem;
           margin: 0; 
           box-sizing: border-box; 
       }
       
       .login_image_box {
         display:none;
           
       }
       .login_heading {
         text-align: center;
       }
       
       .form_input {
           width: 100%;
           
       }
       .loginform_input{
          padding-top: 1rem;;
       }
       .secondarybtn_container{
           padding: 1rem 0;
       }
       
       .login_icon {
           font-size: 2rem;
       }
       .signup_link a{
         font-size: 0.8rem;
       }
}

@media (min-width: 1025px) and (max-width: 1369px){
    /* Your CSS for larger screens */
    .secondary_btn_container{
        padding: 2rem 0rem;
    }
    .loginform_input{
       padding-top: 1rem;
    }
    
  }
  
